@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@500&display=swap');

:root {
    --main-font: 'Roboto Serif', sans-serif;
    --main-text-color: #1A6991;
    --secon-text-color: #1A8991;
    --third-text-color: green;
    --input-save-text-color: #379A69;
    --delete-btn-border: darkred;
    --delete-btn-bg: #DF2929;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #39497C;
    font-family: var(--main-font);
    padding: 25px;
    text-align: center;
}

h1 {
    color: var(--main-text-color);
    letter-spacing: 5px;
}

h4 {
    color: var(--secon-text-color);
    padding: 20px 0 20px 0;
    letter-spacing: 1px;
}

h4::after {
    content: '';
    display: block;
    height: 2px;
    background: rgb(0,212,255);
    background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(26,137,145,1) 21%, rgba(26,105,145,1) 55%, rgba(26,105,145,1) 100%);
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

h3 {
    color: var(--third-text-color);
    padding-bottom: 20px;
    letter-spacing: 1px;
}

.input_style {
    width: 70ch;
    height: 20px;
    color: #000;
}

#save-btn {
    padding: 3px 20px 3px 20px;
    text-transform: uppercase;
    border: 2px solid var(--main-text-color);
    border-radius: 5px;
    color: #fff;
    background-color: var(--secon-text-color);
    transition: 400ms;
}

#save-btn:hover {
    transform: scale(1.2);
    cursor: pointer;
}

ul {
    list-style: none;
    margin-top: 20px;
}

li {
    border-radius: 10px;
    border: 3px solid var(--main-text-color);
    width: 70ch;
    margin-right: auto;
    margin-left: auto;
    text-align: left;
    padding: 7px 5px 5px 7px;
    background-color: var(--secon-text-color);
    color: #fff;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

#delete-btn {
    padding: 3px 20px 3px 20px;
    text-transform: uppercase;
    border: 2px solid var(--delete-btn-border);
    border-radius: 5px;
    color: #fff;
    background-color: var(--delete-btn-bg);
    transition: 400ms;
}

#delete-btn:hover {
    transform: scale(1.2);
    cursor: pointer;
}